
/* *{
    box-sizing: border-box;
} */
body{
    padding: 0;
    margin: 0;
    /* font-size:16px; */
}
p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color:#222;
}
.content_box{
    padding-top: 52px;
    position: relative;
    /* padding-top:180px; */
    /* background: url(../img/bd.jpg) no-repeat 0 -12px; */
    /* background-size:cover; */
}
.iconfont.download-icon {
    font-size: 3.5rem;
    color: #45a212;
    /* position: absolute;
    top: 50%;
    right: -16px;
    transform: translate(-50%,-50%); */
}
.wrapper{
    display: grid;
    padding: 0.4rem 0.8rem;
    grid-template-columns: 17% 58% 25%;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    /* grid-template-rows: 50px; */
}
.service_item{
    font-size:12px;
    width:100%;
    background: #323234;
}
.service_item td{
    /* width:50%; */
    padding:10px 6px;
    color: #ccc;
    border-top: 1px solid #505152;
    border-bottom: 1px solid #18181a;
    height:50px;
    box-sizing: border-box;
}
.text_right{
    text-align:right;
}
.ver_middle{
    vertical-align: middle;
}
.desc{
    margin:0 4%;
    line-height: 1.5;
}
.desc>p{
    margin:0;
    padding:0;
    font-size:0.75rem;
    color:#696969;
}
.mint-tab-item-label{
    font-size:1.2rem;
}
.mint-navbar{
    /* margin-bottom:1rem; */
}
.mint-swipe-item>img{
    width:100%;
}
.mint-header>h1{
    font-size:1.4rem;
}
.mint-header-button{
    flex: .8;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
ul,li{
    list-style: none;
    padding:0;
    margin:0;
}
header.mint-header{
    /* max-width: 786px; */
    margin: 0 auto;
    height: 50px;
    background-color:#fff;
    border-bottom:1px solid #aaa;
}
div.mint-navbar .mint-tab-item{
    padding:0;
}
.mint-tab-item-label>div{
    padding:17px 0;
}
.mint-tab-item{
    color: #aaa;
    font-size: 1.5rem;
    background: #272727;
    font-weight:bold;
}
.mint-tab-item.is-selected{
    color: #fff !important;
    margin-bottom:0 !important;
    border-bottom:none !important;
    background: #19803e;
}
.header_menu{
    position: fixed;
    top:51px;
    right:10px;
    z-index:1000;
    background:#fff;
    box-shadow:0 0 5px #aaa ;
    font-size:14px;
}
.header_menu>li.first {
    border: none;
}
.header_menu>li{
    text-align: center;
    padding: .225rem 0.5rem;
    border-top: 1px solid #d7d7d7;
}
.header_menu>li>a{
    color:#333;
}
.footer_tips{
    line-height: 24px;
    text-align: center;
    color: #F0F0F0;
    background: #888;
    font-size: 12px;
}
.footer{
    /* margin-top:30px; */
    width: 100%;
    background: #1f2326;
    color: #999;
    padding: 14px 0 0;
    text-align: center;
    font-size:12px;
}
.footer  a {
    color: #999;
}
.footer .bottom_menu_box {
    padding-bottom:10px;
}
.footer .bottom_menu_box a {
    color: #fff;
}
.img_box_bottom{
    padding:10px 0;
}

.about_box,.parents_box{
    padding:10px 6px;
    font-size:14px;
    line-height:1.6;
}
.about_box>h3,.parents_box>h3{
    text-align: center;
    padding-bottom:10px;
    border-bottom: 1px dashed #ddd;
}
.margin_top_20{
    margin-top:20px;
}
.text_indent_2{
    text-indent: 2rem;
}
.employContent {
    background: #323234;
}
.employContent .itemEmploy {
    padding: .83333333rem 0;
    color: #ccc;
    font-size: .83333333rem;
    border-top: 1px solid #505152;
    border-bottom: 1px solid #18181a;
}
.employContent h4 {
    padding: .625rem 1.25rem;
    color: #ff8639;
    font-size: 1rem;
}
.employContent h5 {
    padding: .41666667rem 0;
    color: #ff8639;
    font-size: .91666667rem
}
.itemEmploy >div {
    padding: 0 1.25rem;
}
.download_btn{
    max-width: 90px;
    box-sizing: border-box;
    display: inline-block;
    width: 92%;
    height: 32px;
    line-height: 32px;
    padding-left: .625rem;
    margin-top: 1.16666667rem;
    color: #fff;
    font-size: 12px;
    background: #19803e url(../img/downloadIcon2.png) no-repeat right center;
    background-size: 1.25rem;
    -webkit-border-radius: .33333333rem;
    -moz-border-radius: .33333333rem;
    -ms-border-radius: .33333333rem;
    border-radius: .33333333rem;
}


.navBox{
    margin-bottom:12px;
    font-size:12px;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.navBox ul li {
    position:relative;
    float: left;
    width: 25%;
    text-align:center;
    padding:0 0 6px 0;
    border-bottom: 1px solid #ccc;
}
.navBox ul li.active a {
    color: #f6b501;
}
.navBox ul a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 2.08333333rem;
    line-height: 2.08333333rem;
    text-align: center;
    color: #777;
    font-size: 13px;
    border-right: 2px solid #ccc;
}
.navBox ul li.active a {
    color: #f6b501;
}
.navBox ul li.active:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .33333333rem;
    background: #f6b501;
}
.notice_box{
    background:#ddd;
    padding-top:8px;
}
.notice_box>h3{
    color:#5F5F5F;
    background:#fff;
    font-size:16px;
    padding:0.833rem;
}
.eventList {
    padding: 0 1.375rem;
    background: #eff0f3;
    border-top: 1px solid #ddd;
}
.eventList li {
    line-height: 2.25rem;
    font-size: .66666667rem;
    border-bottom: 1px solid #ddd;
}
.title_box header.mint-header{
    color:#fff;
    /* border-top:1px solid #ffcc33; */
    border-bottom:none;
    background:#19803e; /*#ffcc33;*/
}
.title_box>div{
    padding:10px;
    font-size:14px;
}
.title_box>div>h3{
    text-align: center;
    padding:10px 0 16px;
    margin-bottom:8px;
    border-bottom: 1px dashed #ddd;
}
.title_box p{
    text-indent: 2em;
    line-height: 1.6;
}
.eventList a{
    display:inline-block;
    width:100%;
    height:100%;
}
.title_box .mint-header-button{
    flex:0;
}
